@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutNo.cshtml";
}

@{
    ViewData["Title"] = "個資宣告";
    ViewData["MetaTitle"] = "訊聯細胞智藥-再生醫療製劑、細胞製劑、次世代外泌體Exosome、Exosome Foundry外泌體全球研發代工(訊聯生技集團)";
    ViewData["MetaDescription"] = "訊聯細胞智藥股份有限公司為訊聯集團旗下訊聯生技、訊聯基因數位2家公司，整合3大核心能力「再生醫學/細胞治療」、「精準健康/基因醫學」、「數位科技/智慧研發」的新引擎，主攻再生醫療製劑、細胞製劑、智慧研發、智慧健康、次世代外泌體Exosome 、Exosome Foundry外泌體全球研發代工CRDMO、基因及細胞治療等先進療法，滿足全球更廣大的健康需求。目前7款細胞治療製劑開發中：急性呼吸窘迫症候群ARDS、肺部纖維化、慢性腎衰竭、急性傷口修復、慢性傷口癒合、退化性關節炎、乾眼症";
    ViewData["MetaKeywords"] = "訊聯生技集團, 訊聯,細胞智藥,細胞製劑,再生醫療製劑,訊聯外泌體,次世代外泌體,外泌體,Exosome,急性呼吸窘迫症候群,ARDS,肺部纖維化,慢性腎衰竭,急性傷口修復,慢性傷口癒合,糖尿病足潰瘍,退化性關節炎,乾眼症,CRDMO,Exosome Foundry,外泌體研發代工";
    ViewData["MetaOgTitle"] = "訊聯細胞智藥";
    ViewData["MetaOgDescription"] = "訊聯細胞智藥";
}

<section class="meetings-page" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="meeting-single-item">
                        <div class="down-content" style="border-top-right-radius: 20px;border-top-left-radius: 20px;">
                            <img src="~/assets/images/disclaimer.svg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
</section>
