@* <%@@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %> *@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "訊聯細胞智藥";
    ViewData["MetaTitle"] = "訊聯細胞智藥-再生醫療製劑、細胞製劑、次世代外泌體Exosome、Exosome Foundry外泌體全球研發代工(訊聯生技集團)";
    ViewData["MetaDescription"] = "訊聯細胞智藥股份有限公司為訊聯集團旗下訊聯生技、訊聯基因數位2家公司，整合3大核心能力「再生醫學/細胞治療」、「精準健康/基因醫學」、「數位科技/智慧研發」的新引擎，主攻再生醫療製劑、細胞製劑、智慧研發、智慧健康、次世代外泌體Exosome 、Exosome Foundry外泌體全球研發代工CRDMO、基因及細胞治療等先進療法，滿足全球更廣大的健康需求。目前7款細胞治療製劑開發中：急性呼吸窘迫症候群ARDS、肺部纖維化、慢性腎衰竭、急性傷口修復、慢性傷口癒合、退化性關節炎、乾眼症";
    ViewData["MetaKeywords"] = "訊聯生技集團, 訊聯,細胞智藥,細胞製劑,再生醫療製劑,訊聯外泌體,次世代外泌體,外泌體,Exosome,急性呼吸窘迫症候群,ARDS,肺部纖維化,慢性腎衰竭,急性傷口修復,慢性傷口癒合,糖尿病足潰瘍,退化性關節炎,乾眼症,CRDMO,Exosome Foundry,外泌體研發代工";
    ViewData["MetaOgTitle"] = "訊聯細胞智藥";
    ViewData["MetaOgDescription"] = "訊聯細胞智藥";
}

  <!-- ***** Main Banner Area Start ***** -->
 <section class="section main-banner" data-section="section1">
      <video autoplay muted loop id="bg-video" playsinline>
          <source src="~/assets/images/banner.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">
             	 	  
              <h1 id="HH">WELCOME TO BIONET THERAPEUTICS</h1>
              
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

   <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
          
            <div class="item" style="opacity:0.85;height:280px;background-image:url(../assets/images/service01_bg.svg);">
              <div class="icon">
                <img src="assets/images/service-icon-01.svg" alt="">
              </div>
              <div class="down-content">
                <h4><span style="color:#EC6D34;font-size:20px;">11次AABB認證</span></h4>
                <h4><span style="color:#FFFFFF;font-size:16px;">連續獲AABB (美國血液和生物療法促進協會) 認證，全球公認最嚴格且最具權威的國際組織</span></h4>
              </div>
			 
            </div>
            
            <div class="item" style="opacity:0.85;height:280px;background-image:url(../assets/images/service02_bg.svg);">
              <div class="icon">
                <img src="assets/images/service-icon-02.svg" alt="">
              </div>
              <div class="down-content">
				 <h4><span style="color:#EC6D34;font-size:20px;">執行14次GTP審查</span></h4>
                 <h4><span style="color:#FFFFFF;font-size:16px;">通過GTP (人體細胞組織優良操作規範) 實地稽核訪查</span></h4>
              </div>
			  
            </div>
            
            <div class="item" style="opacity:0.85;height:280px;background-image:url(../assets/images/service03_bg.svg);">
              <div class="icon">
                <img src="assets/images/service-icon-03.svg" alt="">
              </div>
              <div class="down-content">
                <h4><span style="color:#EC6D34;font-size:20px;">全球數千次搜尋配對</span></h4>
                <h4><span style="color:#FFFFFF;font-size:16px;">全球38國醫學中心數千次搜尋，品質通行國際</span></h4>
              </div>	  
            </div>

        
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="apply-now" id="apply">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 align-self-center">
          <div class="row">
		    <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <div class="item" style="border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;border-top-right-radius: 20px;border-top-left-radius: 20px;opacity:0.9;background-color:#1A6087;">
                <img id="bionetlogo" src="assets/images/bionetlogo.svg" style="width:300px;">
                <p style="padding-top:25px;">
                                    台灣第一家專攻細胞治療的上市櫃公司，具備醫療等級之細胞治療產品的核心技術及製備能力，不僅細胞應用超過60種疾病，亦提供客製化外泌體(臍帶血外泌體、羊水外泌體)服務。2005年成立間質幹細胞保存庫。通過衛福部特管法細胞治療，包括脂肪間質幹細胞用於退化性關節炎、膝關節軟骨缺損、慢性傷口、皮下軟組織缺損，以及免疫細胞CIK治療大腸直腸癌、肺癌、乳癌、肝癌等多種癌症。
                                    產品服務：臍帶血造血幹細胞、臍帶間質幹細胞、臍帶血外泌體、羊水外泌體、脂肪間質幹細胞、免疫細胞
				</p>
                <div class="main-button-red" style="text-align:center;">
                  <div><a href="https://www.bionetcorp.com/" target="_blank">Read more</a></div>
                </div>
              </div>
            </div>
			<div class="col-lg-3"></div>
		  </div>
		</div>  
		  	
		 <div class="col-lg-12 align-self-center">
          <div class="row">
			<div class="col-lg-3"></div>
            <div class="col-lg-6">	
              <div class="item" style="border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;border-top-right-radius: 20px;border-top-left-radius: 20px;opacity:0.9;background-color:#1A6087">
				<img id="ggalogo" src="assets/images/ggalogo.svg" style="width:180px;">
                <p style="padding-top:25px;">
                                    台灣第一家同時專攻「精準健康/基因醫學」及「數位醫療科技」，擁有生醫與資訊跨界整合的企業。長期為醫界提供各種臨床檢測分析報告，以「受檢者最終、最佳臨床結果為中心之各項檢測完整分析與追蹤 －Patient-centered Total Testing Process」為目標，積極實踐全方位、全齡層的精準健康服務。
                                    產品服務：孕前檢測、孕期檢測、新生兒檢測、成人健康&癌症風險基因檢測
				</p>
                <div class="main-button-red" style="text-align:center;">
                  <div><a href="https://www.gga.asia/" target="_blank">Read more</a></div>
              </div>
              </div>
            </div>
			<div class="col-lg-3"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>關於訊聯細胞智藥</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content percentage">
                    @* <div class="count-digit">40</div> *@
                   <h4>效能優化提升功能</h4>
                                        <div class="count-title">複方成分，超越單一細胞來源- Exosomes source mix, Exosomes + additive /protein</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content percentage">
                    <div class="count-digit">80</div>
                    <div class="count-title">全台治療滿六週未癒合之慢性傷口獲准案／自體脂肪幹細胞</div>
                  </div>
                </div>
                    <div class="col-12">
                        <div class="count-area-content percentage">
                            <div class="count-digit">80</div>
                            <div class="count-title">全台治療滿六週未癒合之慢性傷口獲准案／自體脂肪幹細胞</div>
                        </div>
                    </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-digit">130</div>
                    <div class="count-title">醫療機構合作恩慈專案超過130</div>
                  </div>
                </div> 
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">25</div>
                    <div class="count-title">擁有25項細胞製備專利 (技術方法/應用發明/儲存裝置/國際專利/作業設備) </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div> 
        <div class="col-lg-6 align-self-center">
          <div class="video" style="border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;border-top-right-radius: 20px;border-top-left-radius: 20px;">
            <a href="https://youtu.be/o7kbzYeOklI?si=sRPH6uLeGBzclW0B" target="_blank"><img src="~/assets/images/play-icon.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>



