<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add name="BBCMSConnectionString" connectionString="Data Source=172.31.1.21;Initial Catalog=EPDB;Persist Security Info=True;User ID=sa;Password=E_Web@Bionet;App=GGA2_Cloud;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
		<bindings />
		<client />
	</system.serviceModel>
	<appSettings>
		<add key="SMAServer.KaonServiceWebMail" value="http://sma:8888/KaonServiceWebMail.asmx" />
	</appSettings>
	<system.webServer>
		<defaultDocument>
			<files>
				<remove value="iisstart.htm" />
				<remove value="index.htm" />
				<remove value="Default.asp" />
				<remove value="Default.htm" />
				<remove value="index.html" />
				<remove value="default.aspx" />
				<add value="Default.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>

</configuration>