
    <!-- ***** Footer  ***** -->
<section class="meetings-page">
    <div class="footer">
        <p>BIONET Therapeutics Corp. @@2022 All Rights Reserved.</p>
    </div>
</section>
<!-- ***** Footer end ***** -->

   