    <!-- ***** Footer  ***** -->
<section class="contact-us" id="contact">
    <div class="container mt-5">
        <div class="row">

            <div class="col-lg-8 align-self-center">
                <div class="col-lg-12">
                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2>Contact Us <span style="font-size:14px;"> * required</span></h2>
                            </div>

                            <div class="col-lg-4">
                                <fieldset>
                                    <input name="name" type="text" id="name" placeholder="Name...*" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-4">
                                <fieldset>
                                    <input name="Tel" type="text" id="Tel" placeholder="Phone...*" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-4">
                                <fieldset>
                                    <input name="email" type="text" id="email" pattern="[^ @@]*@@[^ @@]*" placeholder="EMAIL...*" required="">
                                </fieldset>
                            </div>

                            <div class="col-lg-6">
                                <fieldset>
                                    <input name="subject" type="text" id="subject" placeholder="Company Name..." required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <fieldset>
                                    <span style="font-size:16px;color:#666666;padding: 6px 6px;">Issue Category</span>
                                    <select name="questiontype" id="questiontype" style="font-size:14px;color:#666666"><option>Business Cooperation</option><option>Other</option></select>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" type="text" class="form-control" id="message" placeholder="Inquiry Contents..." required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>

                                    <button type="submit" id="submit1" class="button">Submit</button>
                                    <br>
                                    <span style="font-size:13px;">
                                        I have read the full texts and agree to comply with the privacy policesas prescribed by 
                                        <a href="@Url.Action("Disclaimer", "EN")" target="_blank"><font color="#EC6D34">Personal Data Protection Act</font></a>.
                                    </span>

                                </fieldset>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4" id="rinfo">
                <div class="right-info">
                    <ul>
                        <li>
                            <h6>Contact</h6>
                            <span><font color="#FFF">0800-800-018</font></span>
                        </li>
                        <li>
                            <h6>Email</h6>
                            <span><a href="mailto:service@bionettx.com"><span style="color:#FFF;">service@bionettx.com</span></a></span>
                        </li>
                        <li>
                            <h6>Location</h6>
                            <span>No.28, Ln.36, Xinhu 1st Rd., Neihu Dist., Taipei City 114065, Taiwan</span>
                        </li>
                        <li>
                            <h6>Website</h6>
                            <span>www.bionettx.com</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="footer">
        <p>BIONET Therapeutics Corp. @@2022 All Rights Reserved.</p>
    </div>
</section>

<!-- ***** Footer end ***** -->
   