<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - BionetTX</title>
<!-- Bootstrap core CSS -->
<link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Additional CSS Files -->
<link rel="stylesheet" href="~/assets/css/fontawesome.css">
<link rel="stylesheet" href="~/assets/css/templatemo-edu-meeting.css">
<link rel="stylesheet" href="~/assets/css/owl.css">
<link rel="stylesheet" href="~/assets/css/lightbox.css">

@* font *@
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

@* custom *@
<link rel="stylesheet" href="~/css/otherStyle.css" asp-append-version="true" />