@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutEN.cshtml";
}

@{
    ViewData["Title"] = "BIONET Therapeutics Corp.";
    ViewData["MetaTitle"] = "訊聯細胞智藥-再生醫療製劑、細胞製劑、次世代外泌體Exosome、Exosome Foundry外泌體全球研發代工(訊聯生技集團)";
    ViewData["MetaDescription"] = "訊聯細胞智藥股份有限公司為訊聯集團旗下訊聯生技、訊聯基因數位2家公司，整合3大核心能力「再生醫學/細胞治療」、「精準健康/基因醫學」、「數位科技/智慧研發」的新引擎，主攻再生醫療製劑、細胞製劑、智慧研發、智慧健康、次世代外泌體Exosome 、Exosome Foundry外泌體全球研發代工CRDMO、基因及細胞治療等先進療法，滿足全球更廣大的健康需求。目前7款細胞治療製劑開發中：急性呼吸窘迫症候群ARDS、肺部纖維化、慢性腎衰竭、急性傷口修復、慢性傷口癒合、退化性關節炎、乾眼症";
    ViewData["MetaKeywords"] = "訊聯生技集團, 訊聯,細胞智藥,細胞製劑,再生醫療製劑,訊聯外泌體,次世代外泌體,外泌體,Exosome,急性呼吸窘迫症候群,ARDS,肺部纖維化,慢性腎衰竭,急性傷口修復,慢性傷口癒合,糖尿病足潰瘍,退化性關節炎,乾眼症,CRDMO,Exosome Foundry,外泌體研發代工";
    ViewData["MetaOgTitle"] = "訊聯細胞智藥";
    ViewData["MetaOgDescription"] = "訊聯細胞智藥";
}

<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video" playsinline>
        <source src="~/EN/assets/images/banner.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="caption">

                        <span id="HH">WELCOME TO BIONET THERAPEUTICS</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-service-item owl-carousel">

                    <div class="item" style="opacity:0.85;height:280px;background-image:url(../EN/assets/images/service01_bg.svg);">
                        <div class="icon">
                            <img src="~/EN/assets/images/service-icon-01.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4><span style="color:#EC6D34;font-size:20px;">11 times AABB Accreditation</span></h4>
                            <h4>
                                <span style="color:#FFFFFF;font-size:16px;">
                                    globally recognized certification, indicating
                                    exceptional services and products offered by company.
                                </span>
                            </h4>
                        </div>

                    </div>

                    <div class="item" style="opacity:0.85;height:280px;background-image:url(../EN/assets/images/service02_bg.svg);">
                        <div class="icon">
                            <img src="~/EN/assets/images/service-icon-02.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4><span style="color:#EC6D34;font-size:20px">14 times GTP Certification</span></h4>
                            <h4>
                                <span style="color:#FFFFFF;font-size:16px">
                                    passed the on-site audit for GTP certification by
                                    Taiwan Ministry of Healthy and Welfare.
                                </span>
                            </h4>
                        </div>

                    </div>

                    <div class="item" style="opacity:0.85;height:280px;background-image:url(../EN/assets/images/service03_bg.svg);">
                        <div class="icon">
                            <img src="~/EN/assets/images/service-icon-03.svg" alt="">
                        </div>
                        <div class="down-content">
                            <h4><span style="color:#EC6D34;font-size:20px;">Thousands of Global Searches</span></h4>
                            <h4>
                                <span style="color:#FFFFFF;font-size:16px;">
                                    by medical centers from more than 38 countries for
                                    compatible matches.
                                </span>
                            </h4>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="upcoming-meetings" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</section>

<section class="apply-now" id="apply">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 align-self-center">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="item"
                             style="border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;border-top-right-radius: 20px;border-top-left-radius: 20px;opacity:0.9;background-color:#1A6087;">
                            <img id="bionetlogo" src="~/EN/assets/images/bionetlogo.svg" style="width:300px;">
                            <p style="padding-top:25px;">
                                BIONET is the first publicly listed company in Taiwan specializing in cell therapy that possesses
                                the core technology and preparation capabilities of medical-grade cell therapy products. The company
                                not only applies cells to more than 60 types of diseases but also provides exosome services. In
                                addition, The Mesenchymal Stem Cell bank was established in 2005. Under the special regulations for
                                cell therapy by the Ministry of Health and Welfare, approved treatments include the use of
                                adipose-derived stem cells for osteoarthritis and chronic wounds, and immune cells (CIK) for the
                                treatment of various cancers such as colorectal cancer, lung cancer, breast cancer, and liver
                                cancer.
                            </p>
                            <div class="main-button-red" style="text-align:center;">
                                <div><a href="https://www.bionetcorp.com/" target="_blank">Read more</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>

            <div class="col-lg-12 align-self-center">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="item"
                             style="border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;border-top-right-radius: 20px;border-top-left-radius: 20px;opacity:0.9;background-color:#1A6087;">
                            <img id="ggalogo" src="~/EN/assets/images/ggalogo.svg" style="width:180px;">
                            <p style="padding-top:25px;">
                                GGA is the first company in Taiwan that specializes in both "precision health/genomic medicine" and
                                "digital medical technology," integrating biomedical and information technologies. For many years,
                                we have provided the medical community with various clinical testing and analysis reports, with the
                                goal of "Patient-centered Total Testing Process," which focuses on the ultimate and best clinical
                                outcomes for patients. We actively practice comprehensive, all-age precision health services.
                            </p>
                            <div class="main-button-red" style="text-align:center;">
                                <div><a href="https://www.gga.asia/" target="_blank">Read more</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-facts">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>About Us</h2>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="count-area-content percentage">
                                    <div class="count-digit">40</div>
                                    <div class="count-title">
                                        40% of approved cases for the treatment of degenerative arthritis and
                                        knee cartilage defects in Taiwan.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="count-area-content percentage">
                                    <div class="count-digit">80</div>
                                    <div class="count-title">80% of approved cases for the treatment of chronic wound in Taiwan.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="count-area-content new-students">
                                    <div class="count-digit">130</div>
                                    <div class="count-title">
                                        Over 130 cases of compassion treatment through collaboration with medical
                                        centers.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="count-area-content">
                                    <div class="count-digit">25</div>
                                    <div class="count-title">
                                        25 patents related to cell preparation (Material and methods/
                                        Application/ Storage Equipment/ International patent/ Equipment)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="video"
                     style="border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                    <a href="https://youtu.be/-7jDbiHNE4E?si=9QE6ITS4oj9zMw3E" target="_blank">
                        <img src="~/EN/assets/images/play-icon.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

